@using Microsoft.EntityFrameworkCore
@model IHasProduct
@inject StoreContext _context

@{
    var productTypes = await _context.Set<ProductRecord>()
        .AsNoTracking()
        .Select(x => x.CategoryId)
        .Distinct()
        .OrderBy(x => x)
        .Select(x => new SelectListItem(x, x))
        .ToListAsync();
}
<script>
    function toggleFields() {
        $('#selector').toggle();
        $('#selectorNew').toggle();
    }
</script>
<form method="post">
    <input type="hidden" asp-for="ProductRecord.Id"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" id="selector">
        <label asp-for="ProductRecord.CategoryId" class="control-label"></label>
        <select asp-for="ProductRecord.CategoryId" asp-items="productTypes">
        </select>
        <span asp-validation-for="ProductRecord.CategoryId" class="text-danger"></span>
    </div>
    <div>
        <span onclick="toggleFields()">+/-</span>
    </div>

    <div class="form-group" id="selectorNew" style="display: none">
        <label asp-for="ProductRecord.ProductTypeNew" class="control-label">Ввод новой категории</label>
        <input asp-for="ProductRecord.ProductTypeNew" class="form-control" required="Введите название нового типа"/>
        <span asp-validation-for="ProductRecord.ProductTypeNew" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductRecord.ProductName" class="control-label">Название продукта</label>
        <input asp-for="ProductRecord.ProductName" class="form-control"/>
        <span asp-validation-for="ProductRecord.ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductRecord.PriceInput" class="control-label">Цена</label>
        <input type="number" min="0" asp-for="ProductRecord.PriceInput" class="form-control" required=""/>
        <span asp-validation-for="ProductRecord.PriceInput" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Горячее предложение</label>
        <input type="checkbox" asp-for="ProductRecord.IsHotDeal"/>
    </div>
    <div class="form-group">
        <label>Есть скидка?</label>
        <input type="checkbox" asp-for="ProductRecord.IsDiscount"/>
    </div>
    <div class="form-group">
        <label>Скидка в процентах</label>
        <input asp-for="ProductRecord.DiscountPercent" class="form-control"/>
        <span asp-validation-for="ProductRecord.DiscountPercent" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label>Количество товара</label>
            <input min="0" asp-for="ProductRecord.Quantity" class="form-control" required=""/>
            <span asp-validation-for="ProductRecord.Quantity" class="text-danger"></span>
        </div>

    @if (!Model.IsNewRec)
    {
        <dl>
            <dt>

            </dt>
            <dd>
                <input type="file" name="pic">
            </dd>
            <dd>
                <input type="checkbox" asp-for="ProductRecord.OnPreview"/>
            </dd>
        </dl>
    }
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>

</form>