@page
@model ElectrStore.Pages.Buscket.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderItemsRecord</h4>
<hr />
<div class="row">
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

