<div class="breadcrumb">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <ul class="breadcrumb-tree d-inline-block position-relative m-2">
                    <li class="ms-1">
                        <a href="/Index">ElecrStore</a>
                    </li>
                    <li class="ms-1 ">
                        <a href="#">All Categories</a>
                    </li>
                    <li class="ms-1">
                        <a href="#">Accessories</a>
                    </li>
                    <li class="ms-1">Headphones (227,490 Results)</li>
                </ul>
            </div>
        </div>
    </div>
</div>