<!DOCTYPE html>
<html lang="ru">

<link rel="stylesheet" href="/lib/bootstrap-5.3.0-alpha3-dist/css/bootstrap.css"/>
<link rel="stylesheet" href="lib/bootstrap-icons-1.10.5/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="/css/header.css" asp-append-version="true"/>
<script src="lib/bootstrap-5.3.0-alpha3-dist/js/bootstrap.js"></script>

<partial name="Partials/_UpInfoPanelPartial"/>
<partial name="Partials/_MainHeaderPartial"/>
<partial name="Partials/_Tree"/>
<partial name="Partials/_LoginPartial"/>

@if (User.IsInRole("Owner"))
{
    @*<partial name="Partials/_RolesPartial"/>*@
}
<div class="container">
    <main role="main" class="pb-3">
       @RenderBody() 
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.globalize.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>