@page "/Admin/RoleEdit"
@model ElectrStore.RoleEdit
@inject UserManager<IdentityUser> _userManager;
@{
    var labelText = Model.IsNewRec ? "Новая роль" : "Редактировать";
    var btnText = Model.IsNewRec ? "Добавить" : "Изменить";
    var AllUsers = _userManager.Users.ToList();
}

<form method="post">
    <div class="form-group">
        <label asp-for="RoleName">@labelText</label>
        <input name="name" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">@btnText</button>
</form>
@foreach (var user in AllUsers)
{
    <form method="post"
          asp-page-handler="AddToRole"
          asp-route-id="@user.Id">
        <button type="submit" class="btn btn-sm btn-danger">
            Удалить
        </button>
    </form>

}