@page "/Admin/RolesIndex"
@model ElectrStore.RolesIndex
@inject RoleManager<IdentityRole> _roleManager
@{
    Layout = "_Layout";
}
<div>
     
    <h2>Список ролей</h2>
    <table class="table">
        @foreach (var role in Model.AllRoles)
        {
            <tr>
                <td>
                    <a asp-page="/Users/Admin/RoleEdit" 
                       asp-page-handler="Edit"
                       asp-route-roleId="@role.Id"
                       >@role.Name</a>
                </td>
                <td>
                    <form method="post"
                          asp-page-handler="Delete"
                          asp-route-id="@role.Id">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
                <td>
                    Тут будут юзеры
                </td>
            </tr>
        }
    </table>
    <a asp-page="/Users/Admin/RoleEdit" asp-page-handler="Create">Добавить роль</a>
    @*<a asp-="Create">Добавить роль</a>
    <a asp-action="UserList">Список пользователей</a>*@
</div>